<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.owambe.xclusive"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Owambe Xclusive Fashion Zone</name>

  <description>
      The Nigerian Fashion App.
  </description>

  <author href="http://www.owambestyles.com" email="support@juukj.com">
      Hardeep Shoker
  </author>
<icon src="electric.jpg" />
</widget>